body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/3.Background/sharkie-bg2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

canvas {
    background-color: black;
}